body {
    margin: 0;
    overflow: hidden;
    background-color: #0a0a0a;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}

/* Optional: Change checkbox color */
.dg .c input[type=checkbox]:checked:before {
    color: #30d56f;
}
